<mat-toolbar color="primary">   


    <mat-icon class="inicio" routerLink="/">pets </mat-icon>
    <span class="inicio" routerLink="/"> Veterinaria</span>


    <span class="example-spacer"></span>

    <button mat-button [matMenuTriggerFor]="menu" class="letraMenu">Nueva Atención</button>
    <mat-menu #menu="matMenu" >
      <button mat-menu-item routerLink="../cliente">Agregar Cliente</button>
      <button mat-menu-item>Agregar Atención</button>
    </mat-menu>
    
    <span class="example-spacer"></span>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <span class="material-icons" routerLink="/">logout</span>
    </button>
</mat-toolbar>